.btn_pasang_iklan
{
	 background-color: #03a9f4;
    border: medium none;
    border-radius: 0;
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
    margin-right: 0;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    width: 215px;
    height: 42px;
    line-height: 42px;
}