 

.inner_grid {
	position: relative;
	margin: 0 auto;  
	list-style: none;
	text-align: center;
}

/* Common style */
.inner_grid figure {
	position: relative;
    float: left;
    overflow: hidden;
    text-align: center;
    cursor: pointer; 
    width: 100%;
	background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.inner_grid figure img {
	position: relative;
	display: block; 
	opacity: 0.8;
}

.inner_grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.inner_grid figure figcaption::before,
.inner_grid figure figcaption::after {
	pointer-events: none;
}

.inner_grid figure figcaption,
.inner_grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

 
.inner_grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.inner_grid figure h2 {
	font-family: 'gotham_bookregular';
	font-weight:normal;
	font-size:16px;
	color:#fff;
}

.inner_grid figure h2 span { 
	font-family: 'gotham_boldregular'; 
	font-size:22px;
	display:block;
	color:#fff;
}

.inner_grid figure h2,
.inner_grid figure p {
	margin: 0;
}

.inner_grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}
 

figure.effect-sadie figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 75%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 75%);
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(0,50%,0);
	transform: translate3d(0,50%,0);
}

figure.effect-sadie h2 {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	color: #fff;
	-webkit-transition: -webkit-transform 0.35s, color 0.35s;
	transition: transform 0.35s, color 0.35s;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
}

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-sadie p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	opacity: 0;
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
	font-family: 'gotham_bookregular';
	font-size:11px;
}

figure.effect-sadie:hover h2{
	color: #fff;
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
	transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}
figure.effect-sadie:hover h2 span{
	color: #fff;
}

figure.effect-sadie:hover figcaption::before ,
figure.effect-sadie:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
 

@media screen and (max-width: 50em) {
	.content {
		padding: 0 10px;
		text-align: center;
	}
	.inner_grid figure {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 100%;
	}
}